{% extends 'base.html' %}
{% block title %}Resetowanie hasła{% endblock %}
{% block content %}
<h1>Resetowanie hasła</h1>
    {% if validlink %}
        <p>Wprowadź nowe hasło</p>
    <form action="" method="post">
    {% csrf_token %}
    {{ form }}
        <p><input type="submit" value="Zapisz"></p>
    </form>
    {% else %}
        <p>Link pozwalający na zresetowanie hasła jest nieprawidłowy.
        Musisz ponownie rozpocząć procedurę <a href="{% url 'password_reset' %}">resetowania hasła</a>.</p>
    {% endif %}
{% endblock %}